############################################################
# Node Module und Build-Artefakte
############################################################
node_modules/
dist/
dist-ssr/
.vite/
.cache/

############################################################
# Umgebungsvariablen und Build-spezifische Dateien
############################################################
*.env
tsconfig.tsbuildinfo
package-lock.json

############################################################
# IDE-spezifische Einstellungen
############################################################
.vscode/
.idea/
.prettyrc
