############################################################
# Editor-/IDE-spezifische Dateien
############################################################
.pio
.vscode/
.idea/
.archives
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.editorconfig
.clang-format
*.code-workspace

############################################################
# Log-Dateien
############################################################
logs
*.log

############################################################
# Systemspezifische Dateien
############################################################
.DS_Store

############################################################
# Enviroments
############################################################
*.env

############################################################
# Unterschiedsdateien / Diffs
############################################################
*.diff
diff
diff.txt
