:root {
	/* Zusätzliche Variablen aus dem zweiten Block */
	--bg-white: #fff;
	--font-size: 1rem;

	--color-white: #ffffff;
	--color-black: #000000;
	--color-primary-rgb: 64, 158, 255;
	--color-success-rgb: 103, 194, 58;
	--color-warning-rgb: 230, 162, 60;
	--color-danger-rgb: 245, 108, 108;
	--color-error-rgb: 245, 108, 108;
	--color-info-rgb: 144, 147, 153;
	--font-size-extra-large: 20px;
	--font-size-large: 18px;
	--font-size-medium: 16px;
	--font-size-base: 14px;
	--font-size-small: 13px;
	--font-size-extra-small: 12px;
	--font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
	--font-weight-primary: 500;
	--font-line-height-primary: 24px;
	--index-normal: 1;
	--index-top: 1000;
	--index-popper: 2000;
	--border-radius-base: 4px;
	--border-radius-small: 2px;
	--border-radius-round: 20px;
	--border-radius-circle: 100%;
	--transition-duration: 0.3s;
	--transition-duration-fast: 0.2s;
	--transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
	--transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
	--transition-all: all var(--transition-duration) var(--transition-function-ease-in-out-bezier);
	--transition-fade: opacity var(--transition-duration) var(--transition-function-fast-bezier);
	--transition-md-fade:
		transform var(--transition-duration) var(--transition-function-fast-bezier),
		opacity var(--transition-duration) var(--transition-function-fast-bezier);
	--transition-fade-linear: opacity var(--transition-duration-fast) linear;
	--transition-border: border-color var(--transition-duration-fast) var(--transition-function-ease-in-out-bezier);
	--transition-box-shadow: box-shadow var(--transition-duration-fast) var(--transition-function-ease-in-out-bezier);
	--transition-color: color var(--transition-duration-fast) var(--transition-function-ease-in-out-bezier);
	--component-size-large: 40px;
	--component-size: 32px;
	--component-size-small: 24px;
	--color-scheme: light;
	--color-primary: #409eff;
	--color-primary-light-3: rgb(121.3, 187.1, 255);
	--color-primary-light-5: rgb(159.5, 206.5, 255);
	--color-primary-light-7: rgb(197.7, 225.9, 255);
	--color-primary-light-8: rgb(216.8, 235.6, 255);
	--color-primary-light-9: rgb(235.9, 245.3, 255);
	--color-primary-dark-2: rgb(51.2, 126.4, 204);
	--color-success: #67c23a;
	--color-success-light-3: rgb(148.6, 212.3, 117.1);
	--color-success-light-5: rgb(179, 224.5, 156.5);
	--color-success-light-7: rgb(209.4, 236.7, 195.9);
	--color-success-light-8: rgb(224.6, 242.8, 215.6);
	--color-success-light-9: rgb(239.8, 248.9, 235.3);
	--color-success-dark-2: rgb(82.4, 155.2, 46.4);
	--color-warning: #e6a23c;
	--color-warning-light-3: rgb(237.5, 189.9, 118.5);
	--color-warning-light-5: rgb(242.5, 208.5, 157.5);
	--color-warning-light-7: rgb(247.5, 227.1, 196.5);
	--color-warning-light-8: rgb(250, 236.4, 216);
	--color-warning-light-9: rgb(252.5, 245.7, 235.5);
	--color-warning-dark-2: rgb(184, 129.6, 48);
	--color-danger: #f56c6c;
	--color-danger-light-3: rgb(248, 152.1, 152.1);
	--color-danger-light-5: rgb(250, 181.5, 181.5);
	--color-danger-light-7: rgb(252, 210.9, 210.9);
	--color-danger-light-8: rgb(253, 225.6, 225.6);
	--color-danger-light-9: rgb(254, 240.3, 240.3);
	--color-danger-dark-2: rgb(196, 86.4, 86.4);
	--color-error: #f56c6c;
	--color-error-light-3: rgb(248, 152.1, 152.1);
	--color-error-light-5: rgb(250, 181.5, 181.5);
	--color-error-light-7: rgb(252, 210.9, 210.9);
	--color-error-light-8: rgb(253, 225.6, 225.6);
	--color-error-light-9: rgb(254, 240.3, 240.3);
	--color-error-dark-2: rgb(196, 86.4, 86.4);
	--color-info: #909399;
	--color-info-light-3: rgb(177.3, 179.4, 183.6);
	--color-info-light-5: rgb(199.5, 201, 204);
	--color-info-light-7: rgb(221.7, 222.6, 224.4);
	--color-info-light-8: rgb(232.8, 233.4, 234.6);
	--color-info-light-9: rgb(243.9, 244.2, 244.8);
	--color-info-dark-2: rgb(115.2, 117.6, 122.4);
	--bg-color: #ffffff;
	--bg-color-page: #f2f3f5;
	--bg-color-overlay: #ffffff;
	--text-color-primary: #303133;
	--text-color-regular: #606266;
	--text-color-secondary: #909399;
	--text-color-placeholder: #a8abb2;
	--text-color-disabled: #c0c4cc;
	--border-color: #dcdfe6;
	--border-color-light: #e4e7ed;
	--border-color-lighter: #ebeef5;
	--border-color-extra-light: #f2f6fc;
	--border-color-dark: #d4d7de;
	--border-color-darker: #cdd0d6;
	--fill-color: #f0f2f5;
	--fill-color-light: #f5f7fa;
	--fill-color-lighter: #fafafa;
	--fill-color-extra-light: #fafcff;
	--fill-color-dark: #ebedf0;
	--fill-color-darker: #e6e8eb;
	--fill-color-blank: #ffffff;
	--box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
	--box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
	--box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
	--box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
	--disabled-bg-color: var(--fill-color-light);
	--disabled-text-color: var(--text-color-placeholder);
	--disabled-border-color: var(--border-color-light);
	--overlay-color: rgba(0, 0, 0, 0.8);
	--overlay-color-light: rgba(0, 0, 0, 0.7);
	--overlay-color-lighter: rgba(0, 0, 0, 0.5);
	--mask-color: rgba(255, 255, 255, 0.9);
	--mask-color-extra-light: rgba(255, 255, 255, 0.3);
	--border-width: 1px;
	--border-style: solid;
	--border-color-hover: var(--text-color-disabled);
	--border: var(--border-width) var(--border-style) var(--border-color);
	--svg-monochrome-grey: var(--border-color);

	--row-gap: 20px;
	--col-gap: 20px;
}

:root {
	--body-text-color: var(--text-color-primary);
	--body-bg-color: var(--bg-color-page);

	--content-width: min(100%, var(--container-max-width, 1140px));
	--header-height: calc(var(--navigationbar-height) + var(--tagsview-height) + var(--header-border-bottom-width));
	--header-bg-color: var(--bg-color);
	--header-box-shadow: var(--box-shadow-lighter);
	--header-border-bottom-width: 1px;
	--header-border-bottom: var(--header-border-bottom-width) solid var(--fill-color);
	--navigationbar-height: 50px;
	--navigationbar-text-color: var(--text-color-regular);
	--sidebar-width: 220px;
	--sidebar-hide-width: 58px;
	--sidebar-border-right: 1px solid var(--fill-color);
	--sidebar-menu-item-height: 60px;
	--sidebar-menu-tip-line-bg-color: var(--color-primary);
	--sidebar-menu-bg-color: #001428;
	--sidebar-menu-hover-bg-color: #409eff10;
	--sidebar-menu-text-color: #cfd3dc;
	--sidebar-menu-active-text-color: #ffffff;
	--tagsview-height: 34px;
	--tagsview-text-color: var(--text-color-regular);
	--tagsview-tag-active-text-color: #ffffff;
	--tagsview-tag-bg-color: var(--bg-color);
	--tagsview-tag-active-bg-color: var(--color-primary);
	--tagsview-tag-border-radius: 2px;
	--tagsview-tag-border-color: var(--border-color-lighter);
	--tagsview-tag-active-border-color: var(--color-primary);
	--tagsview-tag-icon-hover-bg-color: #00000030;
	--tagsview-tag-icon-hover-color: #ffffff;
	--tagsview-contextmenu-text-color: var(--text-color-regular);
	--tagsview-contextmenu-hover-text-color: var(--text-color-primary);
	--tagsview-contextmenu-bg-color: var(--bg-color-overlay);
	--tagsview-contextmenu-hover-bg-color: var(--fill-color);
	--tagsview-contextmenu-box-shadow: var(--box-shadow);
	--hamburger-text-color: var(--text-color-primary);
	--rightpanel-button-bg-color: #001428;
}

:root {
	--font-color: var(--text-color-regular);
	--primary-color: var(--color-primary);
	--success-color: var(--color-success);
	--info-color: var(--color-info);
	--warning-color: var(--color-warning);
	--danger-color: var(--color-danger);
	--font-lighten-color: var(--text-color-primary);
	--primary-lighten-color: var(--color-primary-light-3);
	--success-lighten-color: var(--color-success-light-3);
	--info-lighten-color: var(--color-info-light-3);
	--warning-lighten-color: var(--color-warning-light-3);
	--danger-lighten-color: var(--color-danger-light-3);
	--font-darken-color: var(--text-color-secondary);
	--primary-darken-color: var(--color-primary-dark-2);
	--success-darken-color: var(--color-success-dark-2);
	--info-darken-color: var(--color-info-dark-2);
	--warning-darken-color: var(--color-warning-dark-2);
	--danger-darken-color: var(--color-danger-dark-2);
	--font-disabled-color: var(--text-color-disabled);
	--primary-disabled-color: var(--color-primary-light-5);
	--success-disabled-color: var(--color-success-light-5);
	--info-disabled-color: var(--color-info-light-5);
	--warning-disabled-color: var(--color-warning-light-5);
	--danger-disabled-color: var(--color-danger-light-5);
	--input-border-color: var(--border-color);
	--input-disabled-color: var(--text-color-disabled);
	--input-disabled-background-color: var(--fill-color-light);
	--input-placeholder-color: var(--text-color-placeholder);
	--table-popup-border-color: var(--border-color);
	--table-header-font-color: var(--text-color-regular);
	--table-footer-font-color: var(--text-color-regular);
	--table-border-color: var(--border-color-lighter);
	--table-header-background-color: var(--bg-color);
	--table-body-background-color: var(--bg-color);
	--table-footer-background-color: var(--bg-color);
	--table-row-hover-background-color: var(--fill-color-light);
	--table-row-current-background-color: var(--fill-color-light);
	--table-row-hover-current-background-color: var(--fill-color-light);
	--table-checkbox-range-background-color: var(--fill-color-light);
	--table-menu-background-color: var(--bg-color-overlay);
	--loading-color: var(--color-primary);
	--loading-background-color: var(--mask-color);
	--table-validate-error-color: var(--color-danger);
	--toolbar-background-color: var(--bg-color);
	--toolbar-custom-active-background-color: var(--bg-color-overlay);
	--toolbar-panel-background-color: var(--bg-color-overlay);
	--pager-background-color: var(--bg-color);
	--modal-header-background-color: var(--bg-color);
	--modal-body-background-color: var(--bg-color);
	--modal-border-color: var(--border-color);
	--button-default-background-color: var(--bg-color-overlay);
	--input-background-color: var(--fill-color-blank);
	--input-panel-background-color: var(--fill-color-blank);
	--form-background-color: var(--bg-color);
	--form-validate-error-color: var(--color-danger);
	--select-option-hover-background-color: var(--bg-color-overlay);
	--select-panel-background-color: var(--bg-color);
	--tw-scroll-snap-strictness: proximity;
	--tw-gradient-from-position: ;
	--tw-gradient-via-position: ;
	--tw-gradient-to-position: ;
}

[data-theme="light"] {
	---ui-font-color: #606266;
	---ui-font-primary-color: #409eff;
	---font-family:
		-apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	---font-size: 14px;
	---font-size-medium: 14px;
	---font-size-small: 13px;
	---font-size-mini: 12px;
	---border-radius: 4px;
	---icon-font-family: Verdana, Arial, Tahoma;
	---icon-background-color: #fff;
	---font-color: var(---ui-font-color);
	---primary-color: var(---ui-font-primary-color);
	---success-color: #67c23a;
	---info-color: #909399;
	---warning-color: #e6a23c;
	---danger-color: #f56c6c;
	---font-lighten-color: #797b80;
	---primary-lighten-color: #73b8ff;
	---success-lighten-color: #85cf60;
	---info-lighten-color: #abadb1;
	---warning-lighten-color: #ecb869;
	---danger-lighten-color: #f89c9c;
	---font-darken-color: #47494c;
	---primary-darken-color: #0d84ff;
	---success-darken-color: #529b2e;
	---info-darken-color: #767980;
	---warning-darken-color: #d48a1b;
	---danger-darken-color: #f56c6c;
	---font-disabled-color: #bfbfbf;
	---primary-disabled-color: #a6d2ff;
	---success-disabled-color: #a3db87;
	---info-disabled-color: #c5c7ca;
	---warning-disabled-color: l #d48a1b;
	---danger-disabled-color: #f5a8a8;
	---input-border-color: #dcdfe6;
	---input-disabled-color: #dcdfe6;
	---input-disabled-background-color: #f3f3f3;
	---input-placeholder-color: #c0c4cc;
	---table-popup-border-color: #dadce0;
	---table-header-font-color: #606266;
	---table-footer-font-color: #606266;
	---table-border-radius: 4px;
	---table-border-width: 1px;
	---table-border-color: #e8eaec;
	---table-resizable-line-color: #d9dddf;
	---table-resizable-drag-line-color: #409eff;
	---table-header-background-color: #f8f8f9;
	---table-body-background-color: #fff;
	---table-footer-background-color: #fff;
	---table-tree-node-line-color: #909399;
	---table-tree-node-line-style: dotted;
	---table-header-font-weight: 700;
	---table-row-height-default: 48px;
	---table-row-height-medium: 44px;
	---table-row-height-small: 40px;
	---table-row-height-mini: 36px;
	---table-row-line-height: 22px;
	---table-row-hover-background-color: #f5f7fa;
	---table-row-striped-background-color: #fafafa;
	---table-row-hover-striped-background-color: #f5f7fa;
	---table-row-radio-checked-background-color: #fff3e0;
	---table-row-hover-radio-checked-background-color: #ffebbc;
	---table-row-checkbox-checked-background-color: #fff3e0;
	---table-row-hover-checkbox-checked-background-color: #ffebbc;
	---table-row-current-background-color: #e6f7ff;
	---table-row-hover-current-background-color: #d7effb;
	---table-column-padding-default: 13px 0;
	---table-column-padding-medium: 11px 0;
	---table-column-padding-small: 9px 0;
	---table-column-padding-mini: 7px 0;
	---table-column-hover-background-color: #d7effb;
	---table-column-current-background-color: #e6f7ff;
	---table-column-icon-border-color: #c0c4cc;
	---table-column-icon-border-hover-color: #515a6e;
	---table-cell-placeholder-color: #c0c4cc;
	---table-cell-padding-left: 10px;
	---table-cell-padding-right: 10px;
	---table-cell-input-height-default: 42px;
	---table-cell-input-height-medium: 38px;
	---table-cell-input-height-small: 34px;
	---table-cell-input-height-mini: 30px;
	---table-cell-dirty-width: 5px;
	---table-cell-dirty-update-color: #f56c6c;
	---table-cell-dirty-insert-color: #19a15f;
	---table-cell-area-border-color: #409eff;
	---table-cell-area-border-width: 1px;
	---table-cell-active-area-background-color: transparent;
	---table-cell-main-area-extension-border-color: #fff;
	---table-cell-main-area-extension-background-color: #409eff;
	---table-cell-extend-area-border-width: 2px;
	---table-cell-copy-area-border-width: 3px;
	---table-cell-active-area-border-width: 2px;
	---table-cell-copy-area-border-color: #409eff;
	---table-cell-extend-area-border-color: #409eff;
	---table-cell-active-area-border-color: #409eff;
	---table-cell-area-background-color: rgba(64, 158, 255, 0.2);
	---table-checkbox-range-border-width: 1px;
	---table-checkbox-range-border-color: #006af1;
	---table-checkbox-range-background-color: rgba(50, 128, 252, 0.2);
	---table-fixed-left-scrolling-box-shadow: 8px 0px 10px -5px rgba(0, 0, 0, 0.12);
	---table-fixed-right-scrolling-box-shadow: -8px 0px 10px -5px rgba(0, 0, 0, 0.12);
	---table-filter-panel-background-color: #fff;
	---table-menu-item-width: 178px;
	---table-menu-background-color: #fff;
	---loading-color: #409eff;
	---loading-background-color: hsla(0, 0%, 100%, 0.5);
	---loading-z-index: 999;
	---table-validate-error-color: #f56c6c;
	---table-validate-error-background-color: #fff;
	---grid-maximize-background-color: #fff;
	---toolbar-background-color: #fff;
	---toolbar-custom-active-background-color: #d9dadb;
	---toolbar-panel-background-color: #fff;
	---tooltip-dark-color: #fff;
	---tooltip-dark-background-color: #303133;
	---tooltip-light-background-color: #fff;
	---pager-background-color: #fff;
	---pager-perfect-background-color: #fff;
	---pager-perfect-button-background-color: #f4f4f5;
	---modal-header-background-color: #f8f8f8;
	---modal-body-background-color: #fff;
	---modal-border-color: #ebeef5;
	---drawer-header-background-color: #f8f8f8;
	---drawer-body-background-color: #fff;
	---drawer-border-color: #ebeef5;
	---checkbox-font-size-default: 15px;
	---checkbox-font-size-medium: 14px;
	---checkbox-font-size-small: 13px;
	---checkbox-font-size-mini: 12px;
	---checkbox-checked-width: 0.32em;
	---checkbox-checked-height: 0.64em;
	---checkbox-indeterminate-width: 0.6em;
	---checkbox-indeterminate-height: 2px;
	---checkbox-border-width: 2px;
	---checkbox-border-radius: 2px;
	---checkbox-icon-background-color: #fff;
	---checkbox-checked-icon-border-color: #fff;
	---checkbox-indeterminate-icon-background-color: #fff;
	---radio-font-size-default: 15px;
	---radio-font-size-medium: 14px;
	---radio-font-size-small: 13px;
	---radio-font-size-mini: 12px;
	---radio-border-width: 2px;
	---radio-icon-background-color: #fff;
	---radio-checked-icon-background-color: #fff;
	---radio-indeterminate-icon-background-color: #fff;
	---radio-button-default-background-color: #fff;
	---button-max-width: 500px;
	---button-default-background-color: #fff;
	---button-dropdown-panel-background-color: #fff;
	---button-height-default: 34px;
	---button-height-medium: 32px;
	---button-height-small: 30px;
	---button-height-mini: 28px;
	---button-round-border-radius-default: 17px;
	---button-round-border-radius-medium: 16px;
	---button-round-border-radius-small: 15px;
	---button-round-border-radius-mini: 14px;
	---input-background-color: #fff;
	---input-panel-background-color: #fff;
	---input-number-disabled-color: #e4e7ed;
	---input-date-festival-color: #999;
	---input-date-festival-important-color: #409eff;
	---input-date-notice-background-color: red;
	---input-date-picker-hover-background-color: #f2f6fc;
	---input-date-picker-selected-color: #fff;
	---input-date-time-confirm-button-color: #fff;
	---input-date-picker-festival-selected-color: #fff;
	---input-date-picker-notice-selected-background-color: #fff;
	---input-date-extra-color: #67c23a;
	---input-date-extra-important-color: #fd2222;
	---input-date-title-height-default: 30px;
	---input-date-title-height-medium: 29px;
	---input-date-title-height-small: 28px;
	---input-date-title-height-mini: 26px;
	---input-date-time-week-row-height-default: 38px;
	---input-date-time-week-row-height-medium: 36px;
	---input-date-time-week-row-height-small: 34px;
	---input-date-time-week-row-height-mini: 32px;
	---input-date-month-year-row-height-default: 48px;
	---input-date-month-year-row-height-medium: 46px;
	---input-date-month-year-row-height-small: 44px;
	---input-date-month-year-row-height-mini: 42px;
	---input-date-quarter-row-height-default: 60px;
	---input-date-quarter-row-height-medium: 58px;
	---input-date-quarter-row-height-small: 56px;
	---input-date-quarter-row-height-mini: 54px;
	---input-height-default: 34px;
	---input-height-medium: 32px;
	---input-height-small: 30px;
	---input-height-mini: 28px;
	---input-count-color: #999;
	---input-count-background-color: #fff;
	---input-count-error-color: #f56c6c;
	---textarea-line-height: 1.5715;
	---textarea-background-color: #fff;
	---form-item-min-height-default: 36px;
	---form-item-min-height-medium: 34px;
	---form-item-min-height-small: 32px;
	---form-item-min-height-mini: 30px;
	---form-background-color: #fff;
	---form-validate-error-color: #f56c6c;
	---form-validate-error-background-color: inherit;
	---select-option-height-default: 30px;
	---select-option-height-medium: 28px;
	---select-option-height-small: 26px;
	---select-option-height-mini: 24px;
	---select-option-hover-background-color: #f5f7fa;
	---select-panel-background-color: #fff;
	---select-empty-color: #c0c4cc;
	---optgroup-title-color: #909399;
	---switch-font-color: #fff;
	---switch-icon-background-color: #fff;
	---switch-open-background-color: #409eff;
	---switch-close-background-color: rgba(0, 0, 0, 0.35);
	---switch-disabled-background-color: rgba(0, 0, 0, 0.15);
	---pulldown-panel-background-color: #fff;
}
