############################################################
# PlatformIO Build-Artefakte
############################################################
.pio/
build/

############################################################
# Prerequisites und Abhängigkeiten
############################################################
*.d

############################################################
# Kompilierte Objektdateien
############################################################
*.slo
*.lo
*.o
*.obj

############################################################
# Vorgekompilierte Header/Module
############################################################
*.gch
*.pch
*.mod
*.smod

############################################################
# Dynamische Bibliotheken
############################################################
*.so
*.dylib
*.dll

############################################################
# Statische Bibliotheken
############################################################
*.lai
*.la
*.a
*.lib

############################################################
# Ausführbare Dateien
############################################################
*.exe
*.out
*.app

############################################################
# IDE-spezifische Einstellungen (falls vorhanden)
############################################################
.vscode/
.idea/